*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1, h2, h3{
	font-family: "PT Sans";
}

nav{
	width: 100%;
	height: 4vw;
	background-color: #333;
	line-height: 4vw;
	position: sticky;
	top:0;
	z-index: 1;
}

.name{
	font-family: "PT Sans";
	font-size: 2vw;
	font-weight: 300;
	text-align-last: center;
	color: #8dd2f2;
}

.content{
	margin: 5vw 10.13vw 10.13vw 10.13vw;
	line-height: 25px;
}

.content a{
	text-decoration: underline dotted gray;
}

.content a:link{
	color: #333;
}

.content a:visited{
	 color: #333;
}

.content a:hover{
	text-decoration: underline;
}

.paragraph{
	padding-bottom: 25px;
}

.profile-pic{
	float: left;
	max-width: 260px;
	border-radius: 10px;
	margin: 0px 50px 50px 0px;
}

.publication-type{
	font-family: "Roboto Slab";
	text-decoration: underline;
	margin-bottom:15px;
}

.publication{
	color: #2362a1;
	list-style: none;
	font-style: italic;
}

.collaboration{
	margin-bottom: 25px;
	list-style: none;
}

.conference{
	list-style: none;
}

.authors{
	font-style: italic;
}

.scrollable{
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 150px;
  overflow: scroll;
}

.news-list{
  list-style-type: circle;
}

.date{
  color: #2362a1;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  nav{
  	height: 12vw;
  	line-height: 12vw;
  }

  .name{
  	font-size: 6vw;
  }

	.profile-pic{
		max-width: 100%;
	}
}
